.sidebar{
    width:350px;
    text-align: center;
    background-color: #1827a7c3;
    height: 97vh;
    // border: 2px solid black;
}

.sidebar a{
    text-decoration: none;
    width: 300px;
}