<mat-list class="sidebar" role="list">
    <mat-list-item role="listitem"><a mat-raised-button color="accent" href="home">Home</a></mat-list-item>
    <mat-list-item role="listitem"><a mat-raised-button color="accent" href="facilities">Facilities</a></mat-list-item>
    <mat-list-item role="listitem"><a mat-raised-button color="accent" href="rules">Rules & Regulation</a></mat-list-item>
    <mat-list-item role="listitem"><a mat-raised-button color="accent" href="traffi">Traffi</a></mat-list-item>
    <mat-list-item role="listitem"><a mat-raised-button color="accent" href="registration">Registration Form</a></mat-list-item>
    <mat-list-item role="listitem"><a mat-raised-button color="accent" href="contact">Contact Us</a></mat-list-item>
  </mat-list>
  
